# Virtual environment
.venv/
venv/
env/
ENV/
env.bak/
bin/
lib/
include/
share/

# Python bytecodes
*.pyc
__pycache__/

# Flask instance folder (contains local configuration and database)
instance/

# Build artifacts
dist/
build/
*.egg-info/

# Development/testing files
.pytest_cache/
.coverage
htmlcov/

# Editor/OS specific files
.idea/           # JetBrains IDEs
.vscode/         # VS Code
.DS_Store        # macOS
Thumbs.db        # Windows

# Environment variables
.env
.flaskenv